/* client/src/index.css */

/* Define o padrão de 'box-sizing' para todos os elementos.
   Isso evita que padding e bordas aumentem a largura total dos elementos,
   prevenindo a maioria das causas de barras de rolagem. */
   html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Reseta o 'body' e aplica a regra principal */
  body {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    
    /* Cor de fundo para as áreas fora do conteúdo principal */
    background-color: #f0f2f5; 
    
    width: 100%;
    min-height: 100vh;
  
    /* A regra definitiva para remover a barra de rolagem horizontal */
    overflow-x: hidden; 
  }