
:root {


/* * ==================================
 * Fonts
 * ====================================
 */
  --font-family-body: 'Switzer', system-ui, sans-serif; /* padrao */
  --font-family-heading: 'Switzer', system-ui, sans-serif;
  --font-family-display: 'Colmeak', sans-serif; /* especial */


  /* size font */
  --font-size-xs: 0.75rem;  /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem;   /* 16px (padrão do body) */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem;  /* 20px */
  --font-size-xl: 1.5rem;   /* 24px */
  --font-size-2xl: 2rem;    /* 32px */
  --font-size-3xl: 2.5rem;  /* 40px */

/* * ==================================
 * Colors
 * ====================================
 */

  /* Cores da Marca (Brand) */
  --color-primary: #006f40; /* Verde Kiron */
  --color-primary-darker: #005a33; /* Versão escura para hover */
  --color-accent: #002c71; /* Azul Kiron */
  --focus-ring: rgba(0, 111, 64, 0.25); /* Sombra de foco baseada no Verde */

  /* Cores de Fundo (Background) */
  --bg-primary: #ffffff;    /* Fundo de "cartões" e containers */
  --bg-secondary: #e7e7e9;  /* Fundo principal da página (do seu logo) */
  --bg-tertiary: #f8f9fa;   /* Um cinza neutro para fundos sutis (ex: logo) */

  --color-danger-text: #080202;   /* Texto vermelho claro */
  --color-danger-bg: #ffb6b6;     /* Fundo vermelho muito escuro */
  --color-danger-border: #d80000; /* Borda vermelha escura */

  /* Cores de Texto (Text) */
  --text-primary: #002c71;    /* Texto principal (Azul Kiron) */
  --text-secondary: #5a6d8c;  /* Texto de apoio (Azul Kiron mais claro/cinza) */
  --text-on-primary: #ffffff; /* Texto sobre botões verdes (branco) */

  /* Cores de Borda e Divisores */
  --border-color: #ced4da;
}

/* * ==================================
 * TEMA ESCURO (DARK MODE)
 * ====================================
 */
[data-theme="dark"] {
  /* Cores da Marca (Brand) */
  /* Verde mais claro para garantir contraste com texto branco */
  --color-primary: #025230;
  --color-primary-darker: #025230; /* O verde original vira o "hover" */
  --color-accent: #002c71;         /* Um azul mais claro para links */
  --focus-ring: rgba(0, 138, 80, 0.25);

  /* Cores de Fundo (Background) */
  --bg-primary: #031531;    /* Fundo do cartão (azul mais claro) */
  --bg-secondary: #000c1d;  /* Fundo da página (azul mais escuro) */
  --bg-tertiary: #002c71;   /* Fundo do logo (o Azul Kiron original) */

  --color-danger-text: #fff5f4;   /* Texto vermelho claro */
  --color-danger-bg: #1f0404;     /* Fundo vermelho muito escuro */
  --color-danger-border: #d11818; /* Borda vermelha escura */

  /* Cores de Texto (Text) */
  --text-primary: #e7e8f2;    /* Texto principal (Fundo Claro Kiron) */
  --text-secondary: #5a6d8c;  /* Texto de apoio (cinza-azulado claro) */
  --text-on-primary: #ffffff; /* Texto sobre botões verdes (branco) */

  /* Cores de Borda e Divisores */
  --border-color: #0045ad;
}